
// VARIABLES AND MIXINS
@import "style/variables.scss";
@import "style/mixins.scss";

// DATEPICKER
@import "datepicker/datepicker.scss";

// FONTS
@import "fontello.scss";

// BOOTSTRAP
@import "bootstrap.scss";


html{

	@include font($font-family-main, $font-weight-main,$gray-lighter);
	font-size: 14px;
	
	
}

*{
	transition: all .3s ease-in-out;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body{
	
	@include background-cover;
	background-image: url(../images/bg.png);
}



.container{

	width:auto;
	margin: 0 auto;
}

.main{
	
	@include padding-vertical(160px, 120px);
	
	
	&__img{
		
		position: relative;
		margin: 0 auto;

		&-santa{

			width: 760px;
			position: absolute;
			left: -245px;
    		top: -450px;
		    transform: rotate(-45deg);
		    
		}

		&-merry-xmas{

			width: 1000px;
			@include margin-custom(105px, auto, 0, auto);
		}
	}

	&__content{
		
		z-index:1200;
	}
	
	
}


.form{
	
	&-holder{

		background: $brand-cave;
		// width: 432px;
		// margin:0 auto;///temporary
		@include padding-custom(20px, 20px, 20px, 20px);
	}

	&__item{
		
		@include margin-vertical(0,45px);
		position: relative;
		
		clear:both;
		
		&--error{
			
			
				
			&:after{

				content:"Error message here!";
				font-size: 14px;
				color: $brand-warning;
				position: absolute;
				bottom:-27px;
				left:0;
				
			}

			&:before{

				content:"\26A0";
				font-size: 24px;
				color: $brand-warning;
				position: absolute;
				bottom:-25px;
				right:0;				
			}
			
			.form__input{

				border-bottom: 1px solid $brand-warning;
				
				&:active,
				&:focus{

					border-bottom: 1px solid $brand-warning;
				}
			}
		}
	}

	&__control{
		border-radius:0;
		background: transparent;
		border:none;
		@include font($font-family-main, $font-weight-main,$gray-lighter);
		font-size: 20px;
		width:100%;
		
		&::-webkit-input-placeholder {color:$gray-light;}
		&::-moz-placeholder          {color:$gray-light;}/* Firefox 19+ */
		&:-moz-placeholder           {color:$gray-light;}/* Firefox 18- */
		&:-ms-input-placeholder      {color:$gray-light;}

		&:active,
		&:focus{
			outline:none;

		}
	}

	&__input{

		border-bottom: 1px solid $gray;
		@include padding-vertical(10px,10px);
		
		
				
		&:active,
		&:focus{

			border-bottom: 1px solid $gray-dark;
		}

		&:disabled{

			border-bottom: 1px dashed $gray-light;

		}
		
	}

	&__label{

		@include font($font-family-main, $font-weight-main,$gray-light);
		font-size:14px;
		display: block;
		@include margin-vertical(0,15px);
	}

	&__textarea{
		
		resize:none;
		
	}

	&__progress{

		background-color: $gray-darker;
		height:2px;
		
		&-bar{
			
			height:2px;
			background-color: $brand-warning;
			
			&--top{

				position: relative;
			}
		}
	}

	&__current{
		
		&--top{

			position: absolute;
		    right: -15px;
		    top: -42px;
		    display: block;
		    width: 30px;
		    height: 37px;
		    background: url(../images/sprite.png) 30px 0;
		    text-align: center;
		    padding-top: 8px;
		    padding-left: 2px;
		    font-size: 10px;
		    @include font($font-family-main,$font-weight-rare,$gray-base);
		    
		   
		    
		}
	}

	&__counters{
		
		float:right;
		@include margin-vertical(15px,0);
	}
}

.datepicker{

	@include font($font-family-main, $font-weight-main,$gray-lighter);
	font-size: 20px;
	width: 410px;
	border:none;
	background: transparent;
	display: block;
    margin: 0 auto;
	
	&--nav{

		display:none;
	}

	&--content{

		background: transparent;
		padding: 0;
	}

	&--cell{

		border-radius: 50%;
		cursor: default;
		height:67px;
		z-index:0;

		&.-selected-,
		&.-focus-{

			background-color: transparent;
			
			&.-focus-{

				background-color: transparent;
			}

			&.-current-{
				color: $gray-lighter;
				background: $brand-current;
			}
		}

		&.-current-{

			color: $gray-lighter;
			background: $brand-current;
			cursor: pointer;
			
			&.-focus-,
			&.-selected{

				color: $gray-lighter;
				background: $brand-current;
			}
		}

		&-day{

			width:14%;
			&.-other-month-{

				opacity:0;
			}


		}

		&-year{

			&.-other-decade{

				opacity:0;
			}

		}			
	}

	&--day{

		&-name{

			color: $gray-lighter;
			font-size: 20px;
			-webkit-flex: none;
		    -ms-flex: none;
		    -webkit-box-flex: none;
		    flex: none;
			width: 14%;
		}
	}

	&--days{

		&-names{
			
			@include margin-custom(0,0,40px,0);
		}
	}

}

.date-now{

	border: 20px solid $gray-lighter;
	display: block;
	margin: 0 auto;
	text-align: center;
    @include padding-custom(47px, 52px, 56px, 52px);
    @include margin-vertical(0,100px);
    width: 315px;
    
	
	&__month{

		font-size: 55px;
		// @include margin-vertical(0, 30px);
		margin:0;
	}

	&__day{

		font-size: 140px;
		// @include margin-vertical(0, 45px);
		margin:0;
	}

	&__year{
		font-size: 55px;
		margin:0;
	}
}

.calendar{

	display: block;
	margin: 0 auto;
	@include margin-vertical(0,100px);
	
	
}

// POPUP

.popup{
	
	background-color: $brand-milk;
	color: $brand-bull;
	@include padding-custom(70px, 100px, 45px, 100px);
	width: 980px;
	margin:0 auto;
	
	&-holder{

		display: none;//temporary
		opacity:0;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index:$zindex-modal;
		background-color: $brand-cave;
		
	    
	    &--show{

	    	
		    display: block;
		    opacity:1;
	    }
	}
	
	&__img{

		position: relative;   
    	padding-bottom: 200px;
		
		&-santa{
			
			width: 375px;
		    position: absolute;
		    left: -116px;
		    top: -26px;
		    transform: rotate(-15deg);
			
			&-svg{

				fill: $brand-bull;

			}
					
		}

		&-trees{

			width: 523px;
			position: absolute;
			right: -77px;
			top: 49px;

		}		
	}

	&__text{

		@include font($font-family-main, $font-weight-ofthen,$brand-bull);
		font-size: 73px;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: top;
		
		&--extra{
			
			display: block;
			font-weight: $font-weight-seldom;
			font-size: 44px;
			
		}
	}
		
	&__newyear{
			
		display: inline-block;
		vertical-align: top;
		@include font($font-family-main, $font-weight-seldom,$brand-bull);
		font-size: 44px;
		text-transform: uppercase;
		border: 14px solid $brand-bull;
		@include padding-custom(25px, 78px, 25px, 78px);
		@include margin-horizontal(0,32px);
		
	}


	
}

// CLOCK

.clock{

	text-align: center;
	width: 595px;
	overflow: hidden;	
	
	&__analog{

		background-color: $brand-primary;
		@include padding-vertical(30px,0);
		
		&-holder{

			height: 300px;
			width: 300px;
			border-radius:50%;
			background-color: $brand-success;
			margin:0 auto;

		}
		
		&-time{
			
			position: relative;
			height: 100%;
			width: 100%;
			border-radius:50%;
			background: url(../images/sprite.png) 25px 23px no-repeat;			
			background-size: cover;
			
			

			&:hover,
			&:focus{
				
				
				
				.clock__analog-hour{
					opacity:1;
					
					&:before{
						opacity:1;
					}
				}

			}
		}

		&-hour{

			width:0;
			height:0;
			position:absolute;
			top: 50%;
		    left: 37%;
		    margin: 0px 0px 5px -18%;
		    padding: 0px 11px 2px 29%;
			-webkit-transform-origin:100% 50%;
			-ms-transform-origin:100% 50%;
			transform-origin:100% 50%;
			border-radius:4px 0 0 4px;
			background-color: $brand-danger;
			opacity:0;
			
			&:before{
				content:"";
				width: 40px;
    			height: 40px;
				border-radius:50%;
				display: inline-block;
				position: absolute;
				left: -40px;
    			top: -18px;
    			opacity:0;
    			transition: all .3s ease-in-out;
    			background-color: $brand-danger;

			}
		}

		&-minute{
			
		}

		&-second{
			
		}

		&-meridiem{

			@include font($font-family-main, $font-weight-rare,$gray-base);
			@include padding-custom(20px,17px,20px,17px);
			font-size: 20px;
			display: inline-block;
			border-radius:50%;
			color: $gray-lighter;
			
			&-holder{

				clear: both;
    			overflow: hidden;
    			
			}
			
			&--active{
				background-color: $brand-danger;
			}
		}

		&-am{

			float: left;
    		@include margin-horizontal(0, 50px);
		}

		&-pm{

			float: right;
    		@include margin-horizontal(50px, 0);
		}
	}

	&__digital{

		font-size: 80px;
		@include padding-custom(31px, 0, 33px, 0);
		background-color: $brand-danger;
		
		
		&-devider{

			-webkit-animation: mymove 1s ease infinite;
			   -moz-animation: mymove 1s ease infinite;
			     -o-animation: mymove 1s ease infinite;
			        animation: mymove 1s ease infinite;
		}
		
		&-meridiem{
			
			font-size: 30px;
			@include margin-horizontal(0,-10px);
			color: $brand-cream;
		}

		&-minutes{
			
			color: $brand-cream;
		}
		
	}
}

/* CLOCK DEVIDER ANIMATION */

@-webkit-keyframes mymove {
	 0% {
	 		opacity: 1.0;
	    
		}

	50% {
	    opacity: 0;
	    
	}

	100% {
	    opacity: 1.0;
	    
	}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        
    }

    50% {
        opacity: 0;
        
    }

    100% {
        opacity: 1.0;
        
    };
}


.menu{

	position: fixed;
    right: -595px;
    top: 0;
    z-index:$zindex-navbar-fixed;
    
    &.menu--open{
    	right: 0px;

    }
	
	&__icons{

		width: 96px;
		float:left;
		@include margin-vertical(160px, 0);
		
		&-hamburger{

			position: relative;
			
			height: 51px;
			
			
			&-holder{

				background-color: $brand-bull;
				@include padding-custom(20px, 10px, 22px, 10px);
			}
			
			span{

				display: block;
				position: absolute;
				height: 7px;
				width: 100%;
				background: $gray-lighter;
				opacity: 1;
				transform: rotate(0deg);
				transition: .25s ease-in-out;
				
				
				&:nth-child(1){
					top:0;
				}

				&:nth-child(2){
					left:0;
					top:12px;
				}

				&:nth-child(3){
					left:0;
					top:24px;
				}

				&:nth-child(4){
					top:36px;
				}
				
			}

			&.hamburger-open{

				span{
					
					&:nth-child(1){
						top:20px;
  						transform: rotate(135deg);
					}

					&:nth-child(2){
						left:-60px;
						opacity:0;
					}

					&:nth-child(3){
						left:-60px;
						opacity:0;
					}

					&:nth-child(4){
						top:20px;
  						transform: rotate(-135deg);
					}
				}
			}
		}

		&-item{

			font-size: 36px;
			text-align: center;
			@include padding-vertical(24px, 25px);
		}

		&-facebook{
			background-color: $brand-floor;
		}

		&-heart{
			background-color: $brand-dram;
		}

		&-mail{
			background-color: $brand-good;
		}
	}

	&-holder{
			

		
		&--open{

			position: fixed;
			top:0;
			left:0;
			bottom:0;
			right:0;
			background-color: $brand-cave;
			z-index:$zindex-navbar-fixed;
		}
	}
}



// RESPONSIVE


@media (min-width:$screen-sm){
	
	.container{

		width:750px;
	}

	.date-now{

		display: inline-block;
		vertical-align: top;
		@include margin-vertical(5px, 0);
		width: auto;
	}

	.calendar{

		display: inline-block;
		vertical-align: top;
		margin:0;
	}

	.main{

		&__calendar{

			width: 100%;
    		text-align: center;
    		@include margin-vertical(0,100px);

		}
		
		&__form{
			
			width: 58%;
			margin:0 auto;
			display: block;
			
		}
	}
}

@media (min-width:$screen-md){
	
	.container{

		width:970px;
	}

	.main{
		
		&__calendar{
			
			// width: 100%;
   //  		text-align: center;
   //  		
		}

		&__form{

			// display: block;
			width: 45%;
			// margin:0 auto;
		}

		&__content{

			position: relative;
	    		left: 0;
			
			&--move{
				position: relative;
	    		left: -595px;
			}
		}
	}
}

@media (min-width:$screen-lg){
	
	.container{

		width:1170px;
	}

	.date-now{

		@include padding-custom(47px, 45px, 56px, 45px);
	}

	.main{
		
		&__calendar{

			display: inline-block;
			vertical-align: middle;
			width: 60%;
		}

		&__form{

			display: inline-block;
			vertical-align: middle;
			width: 34%;
			@include margin-horizontal(0, 60px);
		}
	}
}


